.logo2{
  background-color: #1890ff;
  color: #ffffff;
  margin: 25px 10px 15px;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
}
.logo2 span{
  float: left;
  margin-left: 10px;
  font-size: 16px;
}
.logo2 i{
  float: right;
  margin-right: 15px;
  font-size: 26px;
  vertical-align: top;
  margin-top: -3px;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(255,255,255,.3) !important;
}
.btn1{
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.content{
  height: calc(100vh - 83px);
}
.ppoe{
  position: relative;
}
ul.ant-menu-inline{
  background: #001529 !important;
}
li.ant-menu-item-selected{
  border-left: 2px solid #3e4ee9;
  background-color: rgba(255,255,255,.2) !important;
}
.ant-menu-item-icon{
  font-size: 20px;
  color: #ffffff;
}
